.characterList {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1rem;

	.characterListItem {
		background-color: #ccc;
		padding: 1rem;
		border-radius: .3rem;

		h2 {
			margin-top: 0;
		}

		.character-data {
			margin: 0;
			width: 100%;

			tbody {
				width: 100%;
			}

			td {
				text-align: right;
			}

			.bold {
				font-weight: bold;
				text-align: left;
			}
		}
	}
}