.navbar {
  display: flex;
  flex-direction: column;
}

.navbar .navbar-links {
  display: flex;
  flex-direction: row;
}

.navbar .nav-left {
  flex: 1;
}

.navbar .home {
  background-color: transparent;
  border: 1px solid white;
  padding: 0 2rem;
  cursor: pointer;
}

.navbar .home .logo {
  height: 30px;
  opacity: .8;
}

.navbar .home:hover .logo {
  opacity: 1;
}

.navbar .navigate {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: .6rem 2rem;
  margin-left: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar .navigate:hover {
  background-color: white;
  color: black;
}
