.navbar {
	display: flex;
	flex-direction: column;

	.navbar-links {
		display: flex;
		flex-direction: row;
	}

	.nav-left {
		flex: 1;
	}

	.home {
		background-color: transparent;
		border: 1px solid white;
		padding: 0 2rem;
		cursor: pointer;

		.logo {
			height: 30px;
			opacity: .8;
		}

		&:hover {
			.logo {
				opacity: 1;
			}
		}
	}

	.navigate {
		background-color: transparent;
		border: 1px solid white;
		color: white;
		padding: .6rem 2rem;
		margin-left: 1rem;
		cursor: pointer;
		text-transform: uppercase;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}