/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------------------- */
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* -------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #404040;
}
h1 a:not(.link),
h2 a:not(.link),
h3 a:not(.link),
h4 a:not(.link),
h5 a:not(.link),
h6 a:not(.link),
.h1 a:not(.link),
.h2 a:not(.link),
.h3 a:not(.link),
.h4 a:not(.link),
.h5 a:not(.link),
.h6 a:not(.link) {
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #bfbfbf;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6,
.dark-bg .h1,
.dark-bg .h2,
.dark-bg .h3,
.dark-bg .h4,
.dark-bg .h5,
.dark-bg .h6 {
  color: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.6px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
  letter-spacing: 0;
}
h1 .small-type,
.h1 .small-type,
h2 .small-type,
.h2 .small-type,
h3 .small-type,
.h3 .small-type {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
  letter-spacing: 0;
}
h4 .small-type,
.h4 .small-type,
h5 .small-type,
.h5 .small-type,
h6 .small-type,
.h6 .small-type {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 2.2em;
  letter-spacing: 0.6px;
}
h2,
.h2 {
  font-size: 1.75em;
  letter-spacing: 0.4px;
}
h3,
.h3 {
  font-size: 1.5em;
  letter-spacing: 0.2px;
}
h4,
.h4 {
  font-size: 1.25em;
}
h5,
.h5 {
  font-size: 1.1em;
}
h6,
.h6 {
  font-size: 1em;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.12em;
  word-spacing: 0.16em;
  margin-bottom: 2em;
}
.App {
  text-align: center;
  max-width: 980px;
  min-width: 490px;
  margin: 0 auto;
  padding: 0 2em;
  line-height: 2em;
  transition: all 0.15s ease;
}
@media screen and (min-width: 767px) {
  .App {
    padding: 0 1em;
  }
}
.title {
  margin-top: 4em;
}
.about-details {
  text-align: left;
}
.about-details em {
  font-weight: bold;
}
.ActiveFilter span {
  width: 100px;
  min-height: 0;
}
