.movieList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.movieList .movieListItem {
  background-color: #ccc;
  padding: 1rem;
  border-radius: .3rem;
  cursor: pointer;
}

.movieList .movieListItem:hover {
  background-color: white;
}

.movieList .movieListItem h2 {
  margin: .3rem 0;
}

.movieList .movieListItem h4 {
  margin: 0;
}

.movieList .movieListItem p {
  margin-top: 0;
}

.singleMovie {
  position: fixed;
  top: 11%;
  left: 3%;
  right: 3%;
  height: 40vh;
  background-color: #ccc;
  padding: 1rem;
  border-radius: .3rem;
  cursor: pointer;
  z-index: 999;
}
